.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background: #eee;
    padding: 20px;
}

.editorArea {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.outputArea {
    height: 200px;
    background: #333;
    color: white;
}